<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>小米商城—注册</title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/ximi/小米商城购物车.css" />
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js" ></script>
	
	</head>
	<body>
		<!--头部-->
		<div class="site-header">
			<div class="container">
				<div class="header-logo">
					<a href="#">
						<img src="../../img/mi.jpg" />
					</a>
				</div>
				<div class="header-title">
					<h3>小米商城</h3>
					<p>让每个人享受科技的乐趣</p>
				</div>
				<div class="header-info info-Nouser">
					<a href="../../index.html">首页</a>
					<span>|</span>
					<a href="../page/login.html">登录</a>
					<span>|</span>
					<a href="#">注册</a>
				</div>
			</div>
		</div>
		<!--身体部分-->
		<div class="site-denglv" style="background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/0408d4deb7486a19c16949eacebe9e42.jpg);">
			<div class="container">
				<div class="denglv" class="form-group">
					<form action="../../php/register.php" method="post">
						<div class="login-header">
							<h2>欢迎注册小米</h2>
						</div>
						<div class="login-denglv" class="form-group">
							<input type="text" class="form-control" placeholder="邮箱/手机号/小米ID" name="name"/>
							<span>XX</span>
							<input type="password" class="form-control" placeholder="密码" name="password" />
							<span>XX</span>
							<input type="password" class="form-control" placeholder="再次确认密码" name="psd_again">
							<span>XX</span>
							<input type="submit" class="form-control tijiao" value="注册"/>
							<!--<a  href="../../php/register.php" class="tijiao">注册</a>-->
						</div>
					</form>
						
						<div>
							
						</div>
				</div>
			</div>
		</div>
	</body>
</html>
